<!-- Views/Shared/_Footer.cshtml -->
<footer class="footer">
    &copy; <span id="current-year"></span> Advanced Sys-Tek Limited |
    <a href="contact-us.html">Contact Us</a> |
    <a href="feedback.html">Feedback</a>
</footer>

<script>
    document.getElementById('current-year').innerText = new Date().getFullYear();
</script>

