<!-- Views/Shared/_Layout.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/Content/css/HeaderFooter.css" />
</head>
<body>

    <!-- Render Header -->
    @Html.Partial("_Header")

    <div class="main-content">
        <!-- Content of the page will go here -->
        <div class="content">
            @RenderBody() <!-- This will render the content from the current view -->
        </div>

        <!-- Render Footer -->
        @Html.Partial("_Footer")
    </div>
</body>
</html>
