@{
    ViewBag.Title = "AST Policies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <link rel="stylesheet" href="@Url.Content("~/Content/css/PoliciesStyles.css")">

    <div class="content-container">
        <div class="main-content">
            <h2>AST Policies</h2>

            <div class="policy">
                <h3>Inter Department Transfer Policy</h3>
                <p>This policy outlines the procedures and criteria for transferring employees between departments within the company.</p>
                <a href="../documents/inter-department-transfer-policy.pdf" target="_blank">Read Document</a>
            </div>

            <div class="policy">
                <h3><span clas="text-gradient-span">Employee Referral Policy</span></h3>
                <p>This policy encourages employees to refer qualified candidates for open positions and offers rewards for successful referrals.</p>
                <a href="../documents/employee-referral-policy.pdf" target="_blank">Read Document</a>
            </div>

            <div class="policy">
                <h3><span class="text-gradient-span">Overseas Travel Policy</span></h3>
                <p>This policy defines the guidelines and approval process for overseas travel for work purposes.</p>
                <a href="../documents/overseas-travel-policy.pdf" target="_blank">Read Document</a>
            </div>

            <div class="policy">
                <h3><span class="text-gradient-span">Outstation Travel Policy</span></h3>
                <p>This policy sets the rules for employees traveling outstation for business purposes.</p>
                <a href="../documents/outstation-travel-policy.pdf" target="_blank">Read Document</a>
            </div>

            <div class="policy">
                <h3>IT Policy</h3>
                <p>This policy governs the use of IT resources, including computers, software, and internet access within the organization.</p>
                <a href="../documents/it-policy.pdf" target="_blank">Read Document</a>
            </div>

            <div class="policy">
                <h3>Induct Policy</h3>
                <p>This policy defines the process and guidelines for inducting new employees into the company.</p>
                <a href="../documents/induct-policy.pdf" target="_blank">Read Document</a>
            </div>

            <div class="policy">
                <h3>Exit Policy</h3>
                <p>This policy provides the steps and criteria for an employee leaving the company, including resignation and retirement procedures.</p>
                <a href="../documents/exit-policy.pdf" target="_blank">Read Document</a>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/script/PoliciesScript.js")"></script>

